@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark_rod: #080808;
  --light_rod: #f7f7f7;
  --gray-rod: #141414;
}

body {
  color: var(--light_rod);
  background: var(--dark_rod);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--light_rod);
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 200;
  line-height: 100%; /* 4rem */
}

h2 {
  color: var(--light_rod, #f7f7f7);
  font-family: "Inter";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 2.5rem */
}

h3 {
  font-size: 2.25rem;
}

h5 {
  font-size: 1.5rem;
  font-weight: 200;
}

h6 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 100%;
}

.title-background {
  position: absolute;
  top: -10px;
  z-index: -1;
  max-width: 90%;
  color: #141414;
  font-family: Inter;
  font-size: 8rem;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; /* 8rem */
}

.title-background.left {
  left: -12rem;
}

.title-background.right {
  right: 0rem;
}

p,
figcaption {
  font-weight: 200;
}

b {
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .title-background.right {
    right: 0rem;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  .title-background {
    font-size: 4rem;
    top: 10px;
  }

  .title-background.right {
    right: -1rem;
  }
}

/* Header */

header {
  z-index: 100;
}

.logo {
  color: var(--light_rod, #f7f7f7);
  font-family: Inter;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  letter-spacing: 0.525rem;
}

.mobile-links {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  color: transparent;
  transition: 0.5s color ease-in;
  margin-bottom: 1.75rem;
}

.mobile-links.open {
  color: var(--light_rod);
}

a:hover {
  color: #f7f7f7;
}

.btn {
  border-radius: 1.75rem;
  background: var(--light_rod, #f7f7f7);
  color: var(--dark_rod, #080808);
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  padding: 0.44rem 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease,
    transform 0.2s ease;
}

.btn:hover {
  transform: scale(1.05);
  background-color: #080808;
  color: #f7f7f7;
  box-shadow: 0px 0px 5px 5px #f7f7f71a;
}

@media screen and (max-width: 768px) {
  .btn {
    padding: 0.34rem 1rem;
  }
}

.navbar-sm {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -100%;
  background-color: var(--dark_rod);
  color: white;
  padding-top: 92px;
  padding-right: 20px;
  transition: right 0.5s ease;
}

.navbar-sm.open {
  right: 0;
}

.navbar-lg,
.contact-lg {
  display: block;
}

.navbar-sm {
  display: none;
}

.ham {
  display: none;
}

@media screen and (max-width: 1024px) {
  .navbar {
    display: none;
  }

  .ham {
    display: block;
  }

  .navbar-sm {
    display: block;
  }

  .navbar-lg,
  .contact-lg {
    display: none;
  }
}

/* Ham menu */
.burger-wrapper {
  cursor: pointer;
  margin: auto;
  width: 3rem;
  height: 2.6rem;
}

.burger-wrapper .hamburger {
  background-color: #fff;
  width: 2rem; /* $s*10 */
  height: 2px; /* $s */
  position: relative;
  transition: background-color 300ms ease-in-out, transform 300ms ease-in-out;
  z-index: 10;
}

.hamburger.open {
  background-color: transparent;
}

.burger-wrapper .hamburger:before,
.burger-wrapper .hamburger:after {
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  position: absolute;
  background: #fff;
  width: 2rem; /* $s*10 */
  height: 2px; /* $s */
  content: "";
}

.burger-wrapper .hamburger:before {
  top: -10px; /* $s*-3 */
}

.burger-wrapper .hamburger:after {
  top: 10px; /* $s*3 */
}

.hamburger.open:after {
  top: 0;
  transform: rotate(45deg);
}

.hamburger.open::before {
  top: 0;
  transform: rotate(-45deg);
}

.hidden {
  display: none;
}

.nav-hidden {
  position: absolute;
  top: 0;
  right: -100%;
  transition: right 0.4s ease-in-out;
}

.menu-trigger:checked ~ .nav-hidden {
  right: 0;
}

/* Home introduction */
.home-section {
  background-image: url("/fondo-home.png");
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: right;
}

/* Project Card */
.project-card {
  background-color: var(--gray-rod, #141414);
  width: 30.875rem;
}

.project-card span {
  color: #fff;
  text-align: right;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 200;
  line-height: 100%; /* 0.875rem */
}

/* Footer */
footer {
  border-radius: 2rem 2rem 0rem 0rem;
  background-color: var(--gray-rod, #141414);
}

.footer-icons img {
  border-radius: 20px;
  padding: 5px;
  transition: transform 0.3s ease-out;
  transition: filter 0.2s ease;
}

.footer-icons img:hover {
  filter: drop-shadow(0px 0px 5px #f7f7f71a);
  transform: scale(1.1);
}
