@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark_rod: #080808;
  --light_rod: #f7f7f7;
  --gray-rod: #141414;
}

body {
  color: var(--light_rod);
  background: var(--dark_rod);
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--light_rod);
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 200;
  line-height: 100%; /* 4rem */
}

h2 {
  color: var(--light_rod, #f7f7f7);
  font-family: "Inter";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 2.5rem */
}

h3 {
  font-size: 2.25rem;
}

h5 {
  font-size: 1.5rem;
  font-weight: 200;
}

.title-background {
  position: absolute;
  top: -10px;
  z-index: -1;
  max-width: 90%;
  color: #141414;
  font-family: Inter;
  font-size: 8rem;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; /* 8rem */
}

.title-background.left {
  left: -12rem;
}

.title-background.right {
  right: -12rem;
}

p,
figcaption {
  font-weight: 200;
}

b {
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

/* Header */

.logo {
  color: var(--light_rod, #f7f7f7);
  font-family: Inter;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  letter-spacing: 0.525rem;
}

li {
  color: var(--light_rod);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

a:hover {
  color: #f7f7f7;
}

.btn {
  border-radius: 1.75rem;
  background: var(--light_rod, #f7f7f7);
  color: var(--dark_rod, #080808);
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  padding: 0.44rem 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease,
    transform 0.2s ease;
}

.btn:hover {
  transform: scale(1.05);
  background-color: #080808;
  color: #f7f7f7;
  box-shadow: 0px 0px 5px 5px #f7f7f71a;
}

@media screen and (max-width: 768px) {
  .btn {
    padding: 0.34rem 1rem;
  }
}

.navbar-lg,
.contact-lg {
  display: block;
}

.navbar-sm {
  display: none;
}

.ham {
  display: none;
}

@media screen and (max-width: 1024px) {
  .navbar {
    display: none;
  }

  .ham {
    display: block;
  }

  .navbar-sm {
    display: block;
  }

  .navbar-lg,
  .contact-lg {
    display: none;
  }
}

/* Ham menu */
.burger-wrapper {
  cursor: pointer;
  margin: auto;
  width: 2rem;
  height: 2.6rem;
}

.burger-wrapper .hamburger {
  background: var(--light_rod);
  width: 2rem; /* $s*10 */
  height: 1px; /* $s */
  position: relative;
  transition: background 10ms 300ms ease;
  z-index: 10;
  transform: translateY(20px); /* $s*4 */
}

.burger-wrapper .hamburger:before,
.burger-wrapper .hamburger:after {
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  position: absolute;
  background: var(--light_rod);
  width: 2rem; /* $s*10 */
  height: 1px; /* $s */
  content: "";
}

.burger-wrapper .hamburger:before {
  top: -10px; /* $s*-3 */
}

.burger-wrapper .hamburger:after {
  top: 10px; /* $s*3 */
}

.menu-trigger:checked ~ .burger-wrapper .hamburger:before,
.menu-trigger:checked ~ .burger-wrapper .hamburger:after {
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  top: 0;
}

.hidden {
  display: none;
}

.nav-hidden {
  position: absolute;
  top: 0;
  right: -100%;
  transition: right 0.4s ease-in-out;
}

.menu-trigger:checked ~ .nav-hidden {
  right: 0;
}

/* Home introduction */
.home-section {
  background-image: url("/fondo-home.png");
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: right;
}

/* Project Card */
.project-card {
  background-color: var(--gray-rod, #141414);
}
